{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The main content area on the homepage --}}
<div class="row" role="main">
  {{!-- The tag below includes the post loop - partials/loop.hbs --}}
  {{> "loop"}}
</div>

<script type="text/javascript">
  if (disqus_shortname && typeof disqus_shortname === "string") {
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
      var dsq_cnt = document.createElement('script'); dsq_cnt.type = 'text/javascript'; dsq_cnt.async = true;
      dsq_cnt.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq_cnt);
    })();
  }
</script>