{{!< default}}

{{!-- The comment above "< default" means - insert everything in this file into
    the {{{body}}} of the default.hbs template, containing the blog header/footer. --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<div class="post-title">
  <h1><a href="{{url}}">{{title}}</a></h1>
</div>
<div class="row" role="main">
  {{content}}
</div>
{{/post}}
